<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">

            </div>
            <!-- Card stats -->
        </div>
    </div>
</div>


<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <form [formGroup]="registerForm" #form="ngForm" (submit)="createAdmin(form)">
                        <div class="form-row">
                            <div class="col-md-6 mb-3 ">
                                <label for="validationServer01">Tài Khoản:</label>
                                <input type="text" class="form-control is-valid" id="username" name="username" formControlName="username" [ngClass]="{'is-invalid':  f.username.touched  && f.username.errors}" placeholder="Nhập username" required>
                                <div class="invalid-feedback" *ngIf="f.username.touched && (f.username.hasError('required')||f.username.hasError('minLength'))">
                                    <i class="fas fa-info-circle"></i>Email yêu cầu nhập đúng định dạng email. Bắt buộc nhập.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3 ">
                                <label for="validationServer01">password:</label>
                                <input type="text" class="form-control is-valid" id="password" name="password" formControlName="password" placeholder="Nhập password" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-6 ">
                                <label for="validationServer01">Ảnh:</label>
                                <input type="file" (change)="onFileSelected($event)" id="avatar" multiple formControlName="avatar" name="avatar">

                            </div>

                        </div>
                        <div class="form-row">
                            <!-- <div class="col-md-6 mb-3 ">
                          <label for="validationServer01">phân quyền:</label>
                          <input type="text" class="form-control is-valid" id="position" name="position" placeholder="phân quyền" ngModel required>
                      </div> -->
                            <div class="col-md-6 mb-3 ">
                                <label for="validationServer01">Position:</label>
                                <select class="form-control is-valid" id="position" name="position" formControlName="position" required>
                            <option value="">--Vui Lòng Chọn--</option>
                            <option value="1">Chủ cửa hàng</option>
                            <option value="0">Nhân viên</option>
                       </select>
                            </div>

                        </div>
                        <button class="btn btn-primary" type="submit">Thêm Mới</button>
                    </form>
                    <div class="row" *ngIf="hasError">
                        <div class="text-danger">{{mss_gs}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="card-header bg-transparent border-0 ">
                        <div class="row " *ngIf="search ">
                            <div class="col " style="color: aliceblue;">Kết quả tìm kiếm, tìm thấy {{admin.length}} kết quả!!!</div>
                        </div>
                    </div>
                    <div class="table-responsive ">
                        <table class="table align-items-center table-flush ">
                            <thead class="thead">
                                <tr>
                                    <th scope="col ">USERNAME</th>
                                    <th scope="col ">PASSWORD</th>
                                    <th scope="col ">FULLNAME</th>
                                    <th scope="col ">AVATAR</th>
                                    <th scope="col ">POSITION </th>
                                    <th scope="col ">CREATEADD</th>
                                    <th scope="col ">UPDATEADD</th>

                                </tr>
                            </thead>
                            <tbody *ngFor="let item of admin">
                                <tr>
                                    <td (click)="goToPageEdit(item)" style="cursor:pointer">{{item.username}}</td>
                                    <td>{{item.password}}</td>
                                    <td>{{item.fullname}}</td>
                                    <td>
                                        <img src="./../../../../assets/img/imgProject/{{item.avatar}}" width="40px" alt="">
                                    </td>
                                    <td>{{item.position}}</td>
                                    <td>{{item.createdAt | date:"yyyy-MM-dd hh:mm:ss a "}}</td>
                                    <td>{{item.updatedAt | date:"yyyy-MM-dd hh:mm:ss a "}}</td>
                                    <td>
                                        <p>
                                            <button (click)="delete(item._id) " type="button " class="btn btn-default btn-sm ">
                              <span class="glyphicon glyphicon-trash "></span>Xóa
                            </button>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>