<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">

            </div>
            <!-- Card stats -->
        </div>
    </div>
</div>


<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <form [formGroup]="registerForm" #form="ngForm" (submit)="createProvider(form)">
                        <div class="form-row">
                            <div class="col-md-6 mb-3 ">
                                <label for="validationServer01">username:</label>
                                <input type="email" class="form-control is-valid" id="username" name="username" formControlName="username" [ngClass]="{'is-invalid':  f.username.touched  && f.username.errors}" placeholder="email@example.com" required>
                                <div class="invalid-feedback" *ngIf="f.username.touched && (f.username.hasError('required')||f.username.hasError('minLength'))||f.username.hasError('email')">
                                    <i class="fas fa-info-circle"></i>Email yêu cầu nhập đúng định dạng email. Bắt buộc nhập.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3 ">
                                <label for="validationServer01">password:</label>
                                <input type="text" class="form-control is-valid" id="password" name="password" formControlName="password" [ngClass]="{'is-invalid':  f.password.touched && f.password.errors}" placeholder="Nhập password" required>
                                <div class="invalid-feedback" *ngIf="f.password.touched && (f.password.hasError('required')||f.password.hasError('minLength'))">
                                    <i class=" fas fa-info-circle "></i>Yêu cầu Password phải có ít nhất 9 ký tự!
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-6 ">
                                <label for="validationServer01">Ảnh:</label>
                                <input type="file" (change)="onFileSelected($event)" id="avatar" multiple name="avatar" formControlName="avatar">
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="col-md-6 mb-3 ">
                                <label for="validationServer01 ">Số Điên Thoại:</label>
                                <input type="text " class="form-control is-valid " id="phoneNumber " name="phoneNumber " formControlName="phoneNumber" [ngClass]="{'is-invalid':  f.phoneNumber.touched  && f.phoneNumber.errors}" placeholder="Nhập Số Điện Thoại" required>
                                <div class="invalid-feedback " *ngIf="f.address.touched && (f.address.hasError( 'required')||f.address.hasError( 'minLength')) ">
                                    <i class="fas fa-info-circle "></i>Vui lòng nhập số điện thoại!!
                                </div>
                            </div>

                            <div class="col-md-6 mb-3 ">
                                <label for="validationServer01 ">Địa Chỉ:</label>
                                <input type="text " class="form-control is-valid " id="address " name="address " formControlName="address" [ngClass]="{'is-invalid':  f.address.touched && f.address.errors}" placeholder="Địa chỉ" required>
                                <div class="invalid-feedback " *ngIf="f.address.touched && (f.address.hasError( 'required')||f.address.hasError( 'minLength')) ">
                                    <i class="fas fa-info-circle "></i>Địa chỉ thuộc kiểu số và chữ,cho phép nhập khoảng trắng và kí tự đặc biệt. Bắt buộc nhập.
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary " type="submit ">Thêm Mới</button>
                    </form>
                    <div class="row" *ngIf="hasError">
                        <div class="text-danger">{{mss_gs}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="card-header bg-transparent border-0 ">
                        <div class="row " *ngIf="search ">
                            <div class="col ">Kết quả tìm kiếm, tìm thấy {{provider.length}} kết quả</div>
                        </div>
                    </div>
                    <div class="table-responsive ">
                        <table class="table align-items-center table-flush ">
                            <thead class="thead">
                                <tr>
                                    <th scope="col ">USERNAME</th>
                                    <th scope="col ">PASSWORD</th>
                                    <th scope="col ">FULLNAME</th>
                                    <th scope="col ">AVATAR</th>
                                    <th scope="col ">PHONENUMBER </th>
                                    <th scope="col ">ADDRESS </th>
                                    <th scope="col ">STATUS </th>
                                    <th scope="col ">KEYACTICE </th>
                                    <th scope="col ">CREATEADD</th>
                                    <th scope="col ">UPDATEADD</th>

                                </tr>
                            </thead>
                            <tbody *ngFor="let item of provider ">
                                <tr>
                                    <td (click)="goToPageEditProvider(item)" style="cursor:pointer">{{item.username}}</td>
                                    <td>{{item.password}}</td>
                                    <td>{{item.fullname}}</td>
                                    <td>
                                        <img src="./../../../../assets/img/imgProject/{{item.avatar}}" style="width: 40px;" alt="">
                                    </td>
                                    <td>{{item.phoneNumber}}</td>
                                    <td>{{item.address}}</td>
                                    <td>{{item.status}}</td>
                                    <td>{{item.keyActive}}</td>
                                    <td>{{item.createdAt | date:"yyyy-MM-dd hh:mm:ss a "}}</td>
                                    <td>{{item.updatedAt | date:"yyyy-MM-dd hh:mm:ss a "}}</td>
                                    <td>
                                        <p>
                                            <button (click)="deleteProvider(item._id) " type="button " class="btn btn-default btn-sm ">
                                <span class="glyphicon glyphicon-trash "></span>Xóa
                              </button>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>